@charset "utf-8";
@font-face {
    font-family: font1;
    src: url(font/TransformaMix-Medium.ttf);
}
body{
    
    background-color: #d6e4f0 ;
}

iframe{
    padding: 70px;
}

p{
    font-size: 25px;
    border-radius: 10px;
    background-color: #1e56a0a2;
    margin: 40px;
}

h1{
    background-color: #163272c2;
    font-family: font1;
    text-align: center;
    font-size: 50px;
}

h2{
    font-size: 35px;
    font-family: font1;
    margin-left: 25px;
}

h3{
    font-size: 35px;
    font-family: font1;
    margin-left: 25px;
}

h4{
    font-size: 35px;
    font-family: font1;
    margin-left: 25px;
}

h5{
    font-size: 35px;
    font-family: font1;
    margin-left: 25px;
}

footer{
    text-align: center;
    font-size: 25px;
}

.toggle-label{
    margin-left: 90%;
    margin-top: 15px;
    width: 60px;
    height: 30px;
    background-color: #1e56a0a2;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
}

.toggle-label:before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #d6e4f0;
}

.toggle-btn:checked + .toggle-label{
    background-color: #d6e4f0;
    ;
}

.toggle-btn:checked + .toggle-label:before{
 background-color:#1e56a0a2;
 ;
 transform: translate(30px);
}

.toggle-btn{
    display: none;
}

.dark-mode{
    background-color: #163172;
}

.dark-mode h1{
    text-align: center;
    font-size: 50px;
    font-family: font1;
    color: white;
    background-color: #1e56a0;
}

.dark-mode h2{
    color: white;
}
.dark-mode h3{
    color: white;
}
.dark-mode h4{
    color: white;
}
.dark-mode h5{
    color: white;
}

.dark-mode p{
    color: rgb(0, 0, 0);
    background-color: #d6e4f0;
}

.dark-mode footer{
    color: white;
}